h1, h2{
    margin: 20px;
}
hr{
    color: rgb(192,212,112);;
}
.home-container{
display: flex;
align-items: center;
}

.icon{
width: 40px;
height: auto;
}

a, h2, p{
color:  rgb(155,212,195);
}
h1 {
color:  rgb(192,212,112);
}