body {

    background-color: rgb(25, 31, 39);
}

h1 {
    color:  rgb(192,212,112);
    padding: 20px;
}

p, a{
    color:  rgb(155,212,195);
    padding: 2px 20px;
}

.home-container{
	display: flex;
	align-items: center;
}

.icon{
	width: 40px;
	height: auto;
}