body {

	background-color: rgb(25, 31, 39);
}

.naslov{
    padding: 1rem;
    color:  rgb(155,212,195);
    font-size: 2rem;
    font-weight: boldER;

}


.login-box {
	width: 400px;
	margin: 100px auto;
	background-color: rgb(25, 31, 39);
	border-radius: 10px;

}


form {
	display: flex;
	flex-direction: column;
}

label {
    color:  rgb(155,212,195);
    font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 5px;
}

input[type="submit"] {
	padding: 10px;
	background-color:rgb(192,212,112);
	color: black;
    font-size: 1.2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: rgb(223, 241, 153);
}

p {
	margin-top: 20px;
	text-align: center;
    color:  rgb(155,212,195);
}

a {
	color: rgb(192,212,112);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.home-container{
	display: flex;
	align-items: center;
}

.icon{
	width: 40px;
	height: auto;
}